<!DOCTYPE html>
<html>
<head>
    
<title>Buwan ng Wika</title>
<link rel="stylesheet" href="style.css">

<style>
body {
    background-image: url("https://i.pinimg.com/736x/18/86/68/18866842e7da9bc33fa42a0eeff53e21.jpg");
    background-size: cover;
    text-align: center;
    font-family: "Times New Roman";
}

p {
    color: white;
}

</style>
</head>
<body>



<h1 style="color:red;">
Buwan ng Wika
</h1>


<h2>
Wikang Filipino: Ating Kayamanan
</h2>

<p>
Ang wika ay bahagi ng ating kultura at kasaysayan.
</p>


<h3>
Jose Rizal: Bayani ng Pilipinas
</h3>
<h4>    SIR RUSSEL MAPAGMAHAL123
</h4>


</body>
</html>
